In [1]:
type(1)

int

In [2]:
type(2.72)

float

In [3]:
1 + 2.72

3.72

In [4]:
3.14 * 7

21.98

In [5]:
3.14 * 7

21.98

In [6]:
type(True)

bool

In [7]:
4 > 5

False

In [8]:
5 ==5

True

In [12]:
print( 'single quotes' )

single quotes

In [13]:
print("double quotes")

double quotes

In [19]:
print('It\'s raining again.')

It's raining again.

In [20]:
print("It's raining again.")

It's raining again.

In [22]:
print('"Welcome!", she said.')

"Welcome!", she said.

In [23]:
type('42')

str

In [24]:
"1" + "8"

'18'

In [26]:
my_str = 'python'
my_str[0]

'p'

In [27]:
my_str[2:4]

'th'

In [28]:
len(my_str)

6

In [29]:
len("a b")

3

Uppgifter 2

In [33]:
num_1 = 5
num_2 = 3
my_result = num_1 + num_2
print(my_result)

8

In [34]:
number_1 =  10
number_2 = 7
my_result = number_1 * number_2
print(my_result)

70

3.10 % 3 
Denna koden utför en modulusoperation. Modulusoperation (%)nretunerar resten av divisionen. Så, 10 % 3 beräknar resten när 10 delas med 3, vilken är 1. Resultat är: 1

4.27//6
Detta är en divisionsoperation. Divisionen av 27 med resultat i ett flyttal, 4,5. Detta matchar värdet som ges i uppgiften.

5. Python thinks the string ends after It.
The corrected code is:

In [35]:
print("it's fun tp learn Python.")

it's fun tp learn Python.